<h2>Lista de Categorias</h2>

<table border="1">
    <tr>
        <td>ID</td>
        <td>NOMBRE</td>
        <td>DESCRIPCION</td>
        <td>ACCIONES</td>
    </tr>

    <tr>
        <td>1</td>
        <td>ropa</td>
        <td>ropa de dama</td>
        <td>
            <button>editar</button>
            <button>eliminar</button>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>Muebles</td>
        <td>Muebles de oficina</td>
        <td>
            <button>editar</button>
            <button>eliminar</button>
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>Vidrios</td>
        <td>prueba de descripcion</td>
        <td>
            <button>editar</button>
            <button>eliminar</button>
        </td>
    </tr>
    <tr>
        <td>4</td>
        <td>ropa de prueba</td>
        <td>ropa de dama</td>
        <td>
            <button>editar</button>
            <button>eliminar</button>
        </td>
    </tr>


</table>