<h2>Lista de Categorias</h2>

<input type="file" 
        (change)="cargaArchivo($event)" 
        value="Importar"
        multiple="false"
        >

<button (click)="exportarArchivoCategorias()" >Exportar excel</button>
<button (click)="exportarArchivo()" >Exportar archivo 2</button>

<table border="1">
    <tr>
        <td>ID</td>
        <td>NOMBRE</td>
        <td>DESCRIPCION</td>
        <td>ACCIONES</td>
    </tr>

    <tr *ngFor="let cat of categorias;let i=index">
        <td>{{ cat.id }}</td>
        <td>{{ cat.nombre }}</td>
        <td>{{ cat.descripcion }}</td>
        <td>
            <button routerLink="/admin/categoria/{{cat.id}}/editar">editar</button>
            <button (click)="eliminar(cat.id, i)">eliminar</button>
        </td>
    </tr>
</table>

<table>
    <body>
        <tr *ngFor="let fila of data">
            <td *ngFor="let celda of fila">
                {{ celda }}
            </td>
        </tr>        
    </body>
</table>
{{data}}